﻿
.piklist-field-column select.piklist-field-element,
.piklist-field-column .piklist-field-element[type=text] {
	margin-bottom: 10px !important;

}

.piklist-field-addmore-wrapper-actions-vertical.piklist-field-addmore-wrapper-actions {
  top: 0px !important;
}

.piklist-field-addmore-wrapper {
  border: 1px solid #0073aa !important;
}
.piklist-field-addmore-wrapper .piklist-field-addmore-wrapper {
  border-left: 7px solid #0073aa !important;
}

.piklist-field .container-hide { display: none !important; width: 0 !important; }
