/* Plot Detail Page --- --- --- */

.plot-info {
    margin-bottom: 1.5em;
}
.plot-info p {
    margin-bottom: 0.5em;
}
.table-picture-post {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}
.table-picture-post thead tr th {
    text-align: center;
    border-bottom: solid 1px #dddddd;
    padding: 2px;
}
.table-picture-post tbody tr td {
    text-align: center;
    border-bottom: solid 1px #dddddd;
    padding: 4px;
}
.table-picture-post img {
    display: inline-block;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    border: solid 2px #ffffff;
}
.table-picture-post img.border {
    border: solid 1px #dddddd;
    padding: 1px;
}
.detail-picture-post {
    text-align: right;
    padding: 0 10px;
}
.detail-picture-post img {
    border: solid 1px #dddddd;
    padding: 1px;
}
.table-survey-by-year {
    font-size: 14px;
    border-bottom: solid 2px #0d5b2f;
}
.table-survey-by-year tr td {
    border-top: none !important;
}
table.table-survey-by-year th td, table.table-survey-by-year tr td {
    height: 2.5em !important;
}
.table-survey-by-year .survey-date {
    background-color: #0d5b2f;
    color: #ffffff;
    font-weight: bold;
    padding: 4px 8px;
}
@media (max-width: 1024px) {
  .table-survey-by-year {
    font-size: 12px;
  }
}
@media (max-width: 980px) {
  .table-survey-by-year {
    font-size: 13px;
  }
}
/* END - Plot Detail Page --- --- --- */


/* Survey Form --- --- --- */

form#fig_plots_fig_survey select {
    width: 100%;
}
form#fig_plots_fig_survey label[for*="[fig_tree_type]"] {
    position: relative;
    display: inline;
    margin-right: 1em;
    top: -4px;
}
form#fig_plots_fig_survey .photo-upload {
    margin-right: 3%;
    clear: none;
}
form#fig_plots_fig_survey .photo-upload.last {
    margin-right: 0;
}
.container-hide, .piklist-theme-field .container-hide {
    display: none !important;
    width: 0 !important;
}

/* END - Survey Form --- --- --- */


/* Generic PikList Overrides --- --- --- */

.piklist-theme-field-container .piklist-field-addmore-wrapper {
    padding-right: 50px !important;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    line-height: 1.8em !important;
}

/* END - Generic PikList Overrides --- --- --- */
